.pagina {
  flex: 1;
  background-color: #FEF9F0;
  min-height: 100vh;

  .container {
    padding: 2rem 1rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1800px) {
  .container {
    padding: 2rem 15rem !important;
  }
}
