:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content-wrapper {
  flex: 1 0 auto;
  box-sizing: border-box;
}

app-footer {
  flex-shrink: 0;
}
