.card {
  background-color: white;
  width: 300px;
  height: 450px;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(223, 222, 222);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  img {
    display: block;
    margin: 1rem auto;
    width: 200px;
    height: 200px;
  }

  h2, p, h3 {
    text-align: start;
  }

  p {
    color: var(--fonte-cinza);
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    padding: .5rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--fonte-laranja);
    color: var(--fonte-branca);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    margin-top: auto;

    &:hover {
      box-shadow: 0px 0px 10px var(--fonte-laranja);
    }
  }
}
