.card {
  background-color: white;
  width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(223, 222, 222);

  img {
    display: block;
    margin: 1rem auto;
    width: 200px;
  }

  p {
    color: var(--fonte-cinza);
    margin-bottom: 1rem;
  }
}
