.titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.botoes {
  margin-bottom: 2rem;
  padding: .3rem;
  border-radius: .6rem;
  background-color: #F8F3ED;

  .btn-produtos, .btn-pedidos {
    width: 200px;
    text-align: center;
    color: var(--fonte-cinza);
    border-radius: .5rem;
    padding: .3rem .5rem;
    background-color: #F8F3ED;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background-repeat: no-repeat;
    background-size: 20px;

    &.selected {
      background-color: white;
      color: black;
    }
  }

  .btn-produtos {
    background-image: url('../../../../public/hamburguer-cinza.png');
    background-position: 40px center;

    &.selected {
      background-image: url('../../../../public/hamburguer.png');
    }
  }

  .btn-pedidos {
    background-image: url('../../../../public/carrinho-cinza.png');
    background-position: 35px center;

    &.selected {
      background-image: url('../../../../public/carrinho.png');
    }

    .contador-pedidos-aberto {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -5px;
      background-color: var(--fonte-laranja);
      color: var(--fonte-branca);
      border-radius: 1rem;
      font-size: 12px;
      width: 20px;
      height: 20px;
    }
  }

}

.secao-produtos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.lista-produtos {
  width: 600px;
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 10px #dad6d6;

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  span {
    color: var(--fonte-cinza);
    font-size: .95rem;
  }

  input {
    width: 100%;
    padding: .3rem 1rem;
    box-sizing: border-box;
    border-radius: .6rem;
    border: 1px solid rgb(165, 164, 164);
    margin: 1rem 0;
    font-size: 17px;
    background-color: #FBFAF9;

    &:focus {
      border: 1px solid var(--fonte-laranja);
      outline: 1px solid var(--fonte-laranja);
    }
  }

  .produtos {
    max-height: 550px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }

  .paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3rem;

    button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }

    .paginacao {
      display: flex;
      list-style: none;
      align-items: center;
      height: 100%;
      gap: 10px;


      li {
        cursor: pointer;
        padding: .3rem .8rem;
        border-radius: 1rem;

        &.ativa {
          font-weight: bold;
          background-color: var(--fonte-laranja);
          color: var(--fonte-branca);
        }
      }
    }
  }

}

.tabela-pedidos {
  background: #fffdfa;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.tabela-pedidos h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.tabela-pedidos .subtitulo {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;

  .linha-tabela {
    cursor: pointer;
  }
}

thead tr {
  border-bottom: 1px solid #eee;
}

thead th {
  text-align: left;
  padding: 12px 0;
  font-size: 14px;
  color: #777;
  font-weight: 500;
}

tbody td {
  padding: 18px 0;
  font-size: 15px;
  color: #333;
}

tbody tr + tr {
  border-top: 1px solid #f3f3f3;
}

.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.status.aberto {
  color: black;
}

.status.preparando {
  background-color: var(--fonte-laranja);
}

.status.enviado {
  background-color: #3487e0;
}

.status.finalizado {
  background-color: #4cb050;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 12px;
}

.acoes select {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  background: white;
}

.btn-delete, .btn-edit {
  width: 32px;
  height: 32px;
  border-radius: .3rem;
  border: none;
  background-color: transparent;

  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: var(--fonte-laranja);

  }
}

.btn-delete {
  background-image: url('../../../../public/deletar.png');

  &:hover {
    background-image: url('../../../../public/deletar-branco.png');
  }
}

.btn-edit {
  background-image: url('../../../../public/editar.png');

  &:hover {
    background-image: url('../../../../public/editar-branco.png');

  }

  &:disabled {
    opacity: .4;

    &:hover {
      background-color: transparent !important;
      background-image: url('../../../../public/editar.png') !important;
      cursor: default;
    }
  }
}

@media screen and (min-width: 1800px) {
  .lista-produtos {
    width: 675px !important;
  }
}

@media screen and (max-width: 768px) {
  .secao-produtos {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    app-form-produto,
    .lista-produtos {
      width: 100% !important;
    }
  }

  .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    .btn-pedidos, .btn-produtos {
      width: 100% !important;
      background-position: 30% center !important;
    }
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .secao-produtos {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .lista-produtos {
      width: 600px !important;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  .secao-produtos {
    justify-content: center !important;
    gap: 30px;

    .lista-produtos {
      width: 565px !important;
    }
  }
}

