.card {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  transition: .5s;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    background-color: var(--fonte-laranja);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 32px;
    height: 32px;
  }

  h3 {
    margin-bottom: .2rem;
  }

  p {
    width: 200px;
    color: var(--fonte-cinza);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 0 auto;

    p {
      width: 100%;
    }

  }
}
