.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: girar 0.9s linear infinite;
  }
}


@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}
