.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  transition: .5s;
  height: 150px;

  &:hover {
    transform: translateY(-5px);
  }

  p {
    width: 250px;
    color: var(--fonte-cinza);
    font-style: italic;
    margin-bottom: 1rem;
  }

  span {
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 0 auto;
  }
}
