<section class="modal-senha" (click)="fecharModal.emit()">
  <div class="modal-conteudo" (click)="$event.stopPropagation()">
    <h2>Alterar senha</h2>
    <form [formGroup]="form" (submit)="alterarSenha()">
      <div>
        <label for="senhaAtual">Senha atual *</label>
        <input type="password" id="senhaAtual" name="senhaAtual" formControlName="senhaAtual"/>

        @if (form.get('senhaAtual')?.hasError('required') && form.get('senhaAtual')?.dirty) {
          <span class="mensagem-erro-form-field">Digite sua senha atual!</span>
        }
      </div>

      <div class="campo-com-icone">
        <label for="novaSenha">Nova senha *</label>
        <input [type]="mostrarSenha ? 'text' : 'password'" id="novaSenha" name="novaSenha" formControlName="novaSenha"/>
        <button class="btn-exibir-ocultar-senha" [class.exibindo]="mostrarSenha" type="button" (click)="mostrarSenha = !mostrarSenha"></button>

        @if (form.get('novaSenha')?.hasError('required') && form.get('novaSenha')?.dirty) {
          <span class="mensagem-erro-form-field">Digite a sua nova senha!</span>
        }
      </div>

      <div class="campo-com-icone">
        <label for="confirmarNovaSenha">Confirmar nova senha *</label>
        <input [type]="mostrarConfirmarSenha ? 'text' : 'password'" id="confirmarNovaSenha" name="confirmarNovaSenha" formControlName="confirmarNovaSenha"/>
        <button class="btn-exibir-ocultar-senha" [class.exibindo]="mostrarConfirmarSenha" type="button" (click)="mostrarConfirmarSenha = !mostrarConfirmarSenha"></button>

        @if (form.get('confirmarNovaSenha')?.hasError('required') && form.get('confirmarNovaSenha')?.dirty) {
          <span class="mensagem-erro-form-field">Confirme sua nova senha!</span>
        }
      </div>

      @if (mensagemDeErro !== '') {
        <span class="mensagem-erro">{{ mensagemDeErro }}</span>
      }
      <button type="submit" class="btn" [disabled]="form.invalid">Alterar senha</button>
    </form>
  </div>
</section>
