.modal-senha {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal-conteudo {
    background: white;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 10px;

    h2 {
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        margin-bottom: .5rem;

        input {
          width: 100%;
          margin: .2rem 0;
          background-color: #FBFAF9;
          border: 1px solid rgb(165, 164, 164);
          border-radius: .6rem;
          padding: .7rem 1rem;
          box-sizing: border-box;
          font-size: 17px;

          &:focus {
            border: 1px solid var(--fonte-laranja);
            outline: 2px solid var(--fonte-laranja);
          }
        }
      }

      .campo-com-icone {
        position: relative;
        width: 100%;

        .btn-exibir-ocultar-senha {
          position: absolute;
          top: 35px;
          right: 10px;
          background-color: transparent;
          background-image: url('../../../../../../public/mostrar.png');
          background-repeat: no-repeat;
          background-position: center;
          width: 28px;
          height: 28px;
          background-size: 28px;
          border: none;
          cursor: pointer;

          &.exibindo {
            background-image: url('../../../../../../public/ocultar.png');
          }
        }
      }

      .mensagem-erro-form-field {
        color: rgb(209, 0, 0);
        font-size: 14px;
        margin-left: .2rem;
      }

      .btn {
        width: 100%;
        background-color: var(--fonte-laranja);
        color: var(--fonte-branca);
        padding: .8rem;
        border-radius: .7rem;
        border: none;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 1rem;
        cursor: pointer;

        &:disabled {
          cursor: default;
          background-color: gray;
        }

        &:not(:disabled) {
          &:hover {
            box-shadow: 0px 0px 10px var(--fonte-laranja);
          }
        }
      }

      .mensagem-erro {
        margin: 0 auto;
        color: red;
        margin-bottom: .5rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .modal-conteudo {
    width: 300px !important;
  }
}
