<footer class="rodape">
  <section class="colunas">
    <div class="coluna-1">
      <div class="logo">
        <img src="icone-header.png" alt="Logo da página" class="area-imagem"/>
        <h2>Delícias Express</h2>
      </div>

      <p>Sabor e qualidade em cada pedido</p>
    </div>

    <div class="coluna-2">
      <h3>Menu</h3>
      <ul>
        <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/login">Entrar</a></li>
        <li><a routerLink="/cadastro">Cadastrar</a></li>
      </ul>
    </div>

    <div class="coluna-3">
      <h3>Contato</h3>
      <ul>
        <li><img src="telefone.png" alt=""/><a target="_blank" href="https://api.whatsapp.com/send?phone=5513991723849">(13) 99172-3849</a></li>
        <li><img src="email.png" alt=""/><a href="mailto:rfelipe321@live.com">rfelipe321&#64;live.com</a></li>
        <li><img src="localizacao.png" alt=""/><a href="https://maps.app.goo.gl/71txvYFzaFmnZZWy5" target="_blank">Santos, SP</a></li>
      </ul>
    </div>
  </section>

  <section class="direitos">
    <p>© 2025 Delícias Express. Todos os direitos reservados.</p>
  </section>
</footer>
