<form class="formulario" [formGroup]="form" (ngSubmit)="onSubmit()">
  <img class="logo" src="logo.png" alt="Logo da página" routerLink="/"/>
  <h3 class="titulo">{{ titulo() }}</h3>
  <span class="legenda">{{ legenda() }}</span>

  <fieldset class="campos">
    @if (tela() !== 'login') {
      <label for="nome">Nome Completo</label>
      <input type="text" id="nome" name="nome" placeholder="Seu nome" formControlName="nome"/>

      <label for="email">Telefone</label>
      <input type="tel" id="telefone" name="telefone" mask="(00) 0000-0000||(00) 00000-0000"  placeholder="(XX) 9XXXX-XXXX" formControlName="telefone"/>
    }

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="seuemail@email.com" formControlName="email"/>

    @if (tela() !== 'editar-perfil') {
      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" placeholder="********" formControlName="senha"/>
    }

    @if (tela() === 'cadastro') {
      <label for="confirmarSenha">Confirmar Senha</label>
      <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="********" formControlName="confirmarSenha"/>
    }
  </fieldset>

  <p class="mensagem-erro">{{ mensagemErro() }}</p>

  @if (tela() !== 'editar-perfil') {
    <button class="btn" type="submit" [disabled]="form.invalid">{{ textoBotao() }}</button>
  }

  @if (tela() === 'editar-perfil') {
    <div class="container-btn">
       <button class="btn" type="submit" [disabled]="form.invalid">{{ textoBotao() }}</button>
       <button class="btn-secundario" type="button" (click)="openDialog.emit()">Alterar senha</button>
    </div>
  }

  @else {
    <p class="redirecionamento">{{ textoRedirecionamento() }} <a [routerLink]="rota()">{{ textoLink() }}</a></p>
  }
</form>
