<form class="formulario" [formGroup]="form" (ngSubmit)="onSubmit()">
  <img class="logo" src="logo.png" alt="Logo da página" routerLink="/"/>
  <h3 class="titulo">{{ titulo() }}</h3>
  <span class="legenda">{{ legenda() }}</span>

  <fieldset class="campos">
    @if (tela() !== 'login') {
      <div>
        <label for="nome">Nome Completo *</label>
        <input type="text" id="nome" name="nome" placeholder="Seu nome" formControlName="nome"/>

        @if (form.get('nome')?.hasError('required') && form.get('nome')?.dirty) {
          <span class="mensagem-erro-form-field">O nome é obrigatório!</span>
        }
      </div>

      <div>
        <label for="email">Telefone *</label>
        <input type="tel" id="telefone" name="telefone" mask="(00) 0000-0000||(00) 00000-0000" placeholder="(XX) 9XXXX-XXXX" formControlName="telefone"/>

        @if (form.get('telefone')?.hasError('required') && form.get('telefone')?.dirty) {
          <span class="mensagem-erro-form-field">O telefone é obrigatório!</span>
        }
      </div>
    }

    <div>
      <label for="email">Email *</label>
      <input type="email" id="email" name="email" placeholder="seuemail@email.com" formControlName="email"/>

      @if (form.get('email')?.hasError('required') && form.get('email')?.dirty && tela() !== 'login') {
        <span class="mensagem-erro-form-field">O e-mail é obrigatório!</span>
      }
    </div>

    @if (tela() !== 'editar-perfil') {
      <div>
        <label for="senha">Senha *</label>
        <input type="password" id="senha" name="senha" placeholder="********" formControlName="senha"/>

        @if (form.get('senha')?.hasError('required') && form.get('senha')?.dirty && tela() !== 'login') {
          <span class="mensagem-erro-form-field">A senha é obrigatória!</span>
        }

        @else if (form.get('senha')?.hasError('pattern') && form.get('senha')?.dirty && tela() !== 'login') {
          <span class="mensagem-erro-form-field">Sua senha deve possuir 8 caracteres, incluindo letra maíuscula, minúscula, número e caractere especial!</span>
        }
      </div>
    }

    @if (tela() === 'cadastro') {
      <div>
        <label for="confirmarSenha">Confirmar Senha *</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="********" formControlName="confirmarSenha"/>

        @if (form.get('confirmarSenha')?.hasError('required') && form.get('confirmarSenha')?.dirty) {
          <span class="mensagem-erro-form-field">Confirme sua senha!</span>
        }
      </div>
    }
  </fieldset>

  <p class="mensagem-erro">{{ mensagemErro() }}</p>

  @if (tela() !== 'editar-perfil') {
    <button class="btn" type="submit" [disabled]="form.invalid">{{ textoBotao() }}</button>
  }

  @if (tela() === 'editar-perfil') {
    <div class="container-btn">
       <button class="btn" type="submit" [disabled]="form.invalid">{{ textoBotao() }}</button>
       <button class="btn-secundario" type="button" (click)="openDialog.emit()">Alterar senha</button>
    </div>
  }

  @else {
    <p class="redirecionamento">{{ textoRedirecionamento() }} <a [routerLink]="rota()">{{ textoLink() }}</a></p>
  }
</form>
