.pagina {
  flex: 1;
  background-color: #FEF9F0;
  min-height: 100vh;

  .container {
    padding: 2rem 1rem;
    .titulo {
      font-size: 2.5rem;
      margin-bottom: .5rem;
    }

    .subtitulo {
      font-size: 1.2rem;
      color: var(--fonte-cinza);
      margin-bottom: 1.5rem;
    }

    .mensagem-sem-itens {
      text-align: center;
      color: var(--fonte-laranja);
    }
  }
}

@media screen and (min-width: 1800px) {
  .container {
    padding: 2rem 15rem !important;
  }
}
