.cabecalho {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .8rem;
  box-sizing: border-box;
  background-color: #fefefeb6;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 5px 10px #FBF5F0;
  z-index: 999;

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .area-imagem {
      background-color: #F3702C;
      padding: .5rem;
      border-radius: .6rem;
      width: 26px;
      height: 26px;
    }

    h2 {
      font-size: 1.4rem;
    }
  }

  .navegacao {
    ul {
      list-style: none;
      display: flex;
      gap: 10px;

      li {
        a {
          text-decoration: none;
          cursor: pointer;
        }

        .btn-primario {
          background-color: #F3702C;
          color: white;
          padding: .5rem 1rem;
          border-radius: .5rem;
          transition: .5s;

          &:hover {
            box-shadow: 0px 0px 15px #F3702C;
          }
        }

        .btn-secundario {
          padding: .5rem 1rem;
          border-radius: .5rem;
          transition: .5s;

          &:hover {
            background-color: #F3702C;
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .cabecalho {
    padding: 1rem 15rem;
  }
}

@media screen and (max-width: 768px) {
  .cabecalho {
    h2 {
      display: none;
    }
  }
}
