<header class="cabecalho">
  <div class="logo" routerLink="/">
    <img src="icone-header.png" alt="Logo da página" class="area-imagem"/>
    <h2>Delícias Express</h2>
  </div>

  <nav class="navegacao">
    @if (authService.isLoggedIn()) {
      <ul class="autenticado">
        <li><span class="menu-toggle" (click)="menuAberto = !menuAberto">Olá, {{ authService.getNome().split(' ')[0] }}</span></li>
        @if (authService.getRole() === 'admin') {
          <li><a class="link-admin" routerLink="/administrativo"></a></li>
        }
        <li><a class="link-carrinho" routerLink=""></a></li>
        <li><button (click)="logout()"></button></li>
      </ul>

      <div class="dropdown-menu" [class.aberto]="menuAberto">
        <ul>
          <li><a routerLink="/perfil"><i class="fa-regular fa-user"></i>Meu perfil</a></li>
          <li><a routerLink="/meus-pedidos"><i class="fa-regular fa-folder"></i>Meus pedidos</a></li>
        </ul>
      </div>
    }

    @else {
      <ul class="menu">
        <li><a class="btn-secundario" routerLink="/login">Entrar</a></li>
        <li><a class="btn-primario" routerLink="/cadastro">Cadastrar</a></li>
      </ul>
    }
  </nav>
</header>
