.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #fefefeb6;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 5px 10px #FBF5F0;
  z-index: 999;

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .area-imagem {
      background-color: var(--fonte-laranja);
      padding: .5rem;
      border-radius: .6rem;
      width: 26px;
      height: 26px;
    }

    h2 {
      font-size: 1.4rem;
    }
  }

  .navegacao {
    .autenticado {
      display: flex;
      align-items: center;
      gap: 15px;
      list-style: none;

      span {
        color: var(--fonte-cinza);
        cursor: pointer;
      }

      li {
        display: flex;
        align-items: center;
      }

      .link-admin, .link-carrinho {
        width: 24px;
        height: 24px;
        padding: .5rem;
        border-radius: .5rem;
        display: block;
        background-size: 22px;
        background-position: center;
        background-repeat: no-repeat;
        transition: .3s;
        cursor: pointer;

        &:hover {
          background-color: var(--fonte-laranja);
        }
      }

      .link-admin {
        background-image: url('../../../../../public/icone-admin.png');

        &:hover {
          background-image: url('../../../../../public/icone-admin-branco.png');
        }
      }

      .link-carrinho {
        position: relative;
        background-image: url('../../../../../public/carrinho.png');

        &:hover {
          background-image: url('../../../../../public/carrinho-branco.png');
        }

        .quantidade-itens {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: var(--fonte-branca);
          font-weight: 500;
          background-color: var(--fonte-laranja);
          width: 20px;
          height: 20px;
          border-radius: 1rem;
          text-decoration: none;
          top: -4px;
          right: -1px;

        }
      }

      button {
        width: 24px;
        height: 24px;
        padding: 1.2rem;
        border-radius: .5rem;
        display: block;
        background-color: transparent;
        border: none;
        background-image: url('../../../../../public/logout.png');
        background-size: 22px;
        background-position: center;
        background-repeat: no-repeat;
        transition: .3s;
        cursor: pointer;

        &:hover {
          background-color: var(--fonte-laranja);
          background-image: url('../../../../../public/logout-branco.png');
        }
      }
    }

    .dropdown-menu {
      position: fixed;
      top: 55px;
      background-color: white;
      display: none;
      box-shadow: 0px 0px 10px rgb(187, 187, 187);
      border-radius: .3rem;
      width: 160px;

      &.aberto {
        display: block;
      }

      ul {
        list-style: none;
        font-size: 1.1rem;

        li {
          cursor: pointer;
          transition: .3s;

          &:first-child {
            border-top-left-radius: .3rem;
            border-top-right-radius: .3rem;
          }

          &:last-child {
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3rem;
          }

          &:hover {
            background-color: var(--fonte-laranja);

            a {
              color: var(--fonte-branca);
            }
          }
        }

        li a {
          display: block;
          padding: .8rem .6rem;
          font-size: 16px;
          width: 100%;
          color: black;
          text-decoration: none;
          box-sizing: border-box;
          transition: .3s;

          i {
            margin-right: .2rem;
          }
        }
      }
    }

    .menu {
      list-style: none;
      display: flex;
      gap: 10px;

      li {
        a {
          text-decoration: none;
          cursor: pointer;
        }

        .btn-primario {
          background-color: var(--fonte-laranja);
          color: var(--fonte-branca);
          padding: .5rem 1rem;
          border-radius: .5rem;
          transition: .5s;

          &:hover {
            box-shadow: 0px 0px 15px var(--fonte-laranja);
          }
        }

        .btn-secundario {
          padding: .5rem 1rem;
          border-radius: .5rem;
          transition: .5s;
          color: black;

          &:hover {
            background-color: var(--fonte-laranja);
            color: var(--fonte-branca);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .cabecalho {
    padding: 1rem 15rem;
  }
}

@media screen and (max-width: 768px) {
  .cabecalho {
    h2 {
      display: none;
    }
  }
}
