h1 {
  margin-bottom: 1rem;
  text-align: start;
  width: 100%;
}

.com-produtos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 30px;


  .secao-itens {
    width: 65%;

    .btn-principal {
      display: flex;
      justify-self: end;
      background-color: var(--fonte-laranja);
      border: none;
      border-radius: .4rem;
      padding: .5rem;
      font-size: 1.1rem;
      color: var(--fonte-branca);
      cursor: pointer;
      transition: .3s;

      &:hover {
        box-shadow: 0px 0px 10px var(--fonte-laranja);
      }
    }
  }

  app-resumo-pedido {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .com-produtos {
    flex-direction: column;

    .secao-itens {
      width: 100%;
    }

    app-resumo-pedido {
      width: 100%;
    }
  }
}
