.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  box-sizing: border-box;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #dad6d6;

  h2 {
    font-size: 1.5rem;
    margin-bottom: -.5rem;
    font-weight: 600;
  }

  span {
    color: var(--fonte-cinza);
    font-weight: 400;
    font-size: .95rem;
  }

  input, textarea, select {
    width: 100%;
    margin-bottom: .5rem;
    background-color: #FBFAF9;
    border: 1px solid rgb(165, 164, 164);
    border-radius: .6rem;
    padding: .7rem 1rem;
    box-sizing: border-box;
    font-size: 17px;

    &:focus {
      border: 1px solid var(--fonte-laranja);
      outline: 2px solid var(--fonte-laranja);
    }
  }

  textarea {
    resize: none;
    height: 100px;
  }

  button {
    background-color: var(--fonte-laranja);
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: .8rem;
    border-radius: .5rem;
    border: none;
    transition: .3s;

    &:disabled {
      cursor: default;
      background-color: gray;
    }

    &:not(:disabled) {
      &:hover {
        scale: 1.03;
        box-shadow: 0px 0px 10px var(--fonte-laranja);
        cursor: pointer;
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .formulario {
    width: 100% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  .formulario {
    width: 565px !important;
  }
}

@media screen and (min-width: 1800px) {
  .formulario {
    width: 675px !important;
  }
}
