.card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  border-radius: .8rem;
  border: 2px solid #fae9d7;
  box-shadow: 0px 0px 10px #fae9d7;
  box-sizing: border-box;
  margin-top: 1rem;

  img {
    width: 48px;
    height: 60px;
    margin-right: 1rem;
  }

  .card__info {
    width: 100%;
  }

  .ultima-linha {
    margin-top: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quantidade {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-weight: 400;
        font-size: 1.2rem;
      }

      button {
        padding: .2rem .6rem;
        border-radius: .6rem;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        color: var(--fonte-branca);
        background-color: var(--fonte-laranja);
        border: none;
      }
    }

    .preco {
      display: flex;
      align-items: center;
      gap: 15px;

      span {
        font-weight: 700;
        font-size: 1.2rem;
      }

      button {
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: none;
        background-image: url('../../../../../public/deletar.png');
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }
  }
}
